body{
    background-color: antiquewhite;
}

ol, p {
    padding: 15px;
}

ul,ol{
    background-color: lightblue;
    border: navy dotted 2px;
    margin: 15px;
    list-style-position: inside;
}

ul{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 5px;
}

ol{
    padding-left: 30px;
}

li{
    padding: 5px;
    margin: 3px 3px;
    font-size: large;
    font-weight:400;
    border-top: navy dotted 1px;
    padding-left: 1em;
    padding-right: 1em;
}

h1, h2, p{
    text-align: center;
    align-self: center;
    font-family: Arial, sans-serif;
    background-color: none;
}

h1{
    font-weight:700;
}

h2{
    font-weight: 200;
}

img{
    display: block;
    margin: auto;
    width: 50%;
}

a {
    font-size: larger;
}

.linklist{
    list-style: none;
}
.desc{
    text-align: center;
}
.ingredients, .instructions, #desc{
    background-color: white;
    padding: 5px;
    border: black dotted 2px;
    margin: 60px 20px;
}

.instructions{
    margin: 60px 20px;
}

.desc{
    font-size: larger;
    font-weight: 500;
}

.first{
    border: none;
}

#back{
    font-size: 25px;
}